[Unit]
Description=Tibero Database
Requires=network.target
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User={{tb_user}}
PIDFile=/var/lock/subsys/tibero.pid
Environment="TB_SID={{tb_sid}}; TB_HOME={{tb_home}}"

EnvironmentFile=/etc/sysconfig/tibero

ExecStart=/usr/bin/echo 'Starting Tibero Database - {{tb_sid}}'
ExecStart=/bin/bash --login -c 'PATH=$TB_PATH:$PATH LD_LIBRARY_PATH=$TB_LD_LIBRARY_PATH:$LD_LIBRARY_PATH exec {{tb_home}}/bin/tbboot'
ExecStart=/usr/bin/echo 'Tibero Database {{tb_sid}} Started'

ExecStop=/usr/bin/echo 'Stopping Tibero Database - {{tb_sid}}'
ExecStop=/bin/bash --login -c 'PATH=$TB_PATH:$PATH LD_LIBRARY_PATH=$TB_LD_LIBRARY_PATH:$LD_LIBRARY_PATH exec {{tb_home}}/bin/tbdown'
ExecStop=/usr/bin/echo 'Tibero Database {{tb_sid}} Stopped'

[Install]
WantedBy=multi-user.target
